@import url(https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

ul.cm-ss_query_tab_list {
    position: relative;
    top: 1px;
    right: -5px;
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    z-index: 2;
    display: inline;
    float: right;
}

ul.cm-ss_query_tab_confirm {
    position: absolute;
    top: 5px;
    right: 92px;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

li.query_tab {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 56px;
    margin-right: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(127, 127, 127, 0.5);
    border-color: rgb(96, 96, 96);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: default;
    border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li.query_tab_button {
    color: rgba(127, 127, 127, 1);
    background-color: rgba(255, 255, 255, 0.5);
}

li.query_tab_active {
    color: rgba(127, 127, 127, 1);
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px #ffffff;
}

li.confirm_button {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 56px;
    margin-right: 4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(127, 127, 127, 0.5);
    border-color: rgba(127, 127, 127, 1);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: default;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li.confirm_button_active {
    color: rgba(127, 127, 127, 1);
    background-color: rgba(255, 255, 255, 1);
}

li.query_tab_hide {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 50px;
    margin-right: 2px;
    text-align: center;
    color: rgba(127, 127, 127, 0.5);
    cursor: default;
    font-size: 12px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.cm-ss_result {
    background-color: #f8f8f8;
    height: 300px;
    border: solid 3px #dddddd;
    border-radius: 5px;
    overflow: scroll;
    resize: both;
    z-index: 2;
}

div.cm-ss_subres {
    background-color: #f0f0f0;
    position: absolute;
    top: 15px;
    left: 15px;
}

span.cm-ss_debug_comment {
    color: rosybrown;
}

span.cm-ss_sparql-doc_param {
    color: lightslategray;
}

div#inner_mode_div {
    position: relative;
}

div#inner_result {
    margin-left: 5px;
}

table#inner_result_table td {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    position: relative;
}

table#inner_result_table td a{
    text-decoration: none;
    color: #4886ad;
}

table#inner_result_table th {
    text-align: left;
    padding: 0px 10px 0px 10px;
}

pre#inner_result_table {
    background-color: transparent;
}

td.inner_result_selected_td {
    color: #d95270;
}

p.inner_result_time {
    margin: 0px 0px 0px 10px;
    font-size: 12px;
    color: #888888;
}

p.inner_result_sub_title {
    margin: 6px 0px 0px 10px;
    color: #888888;
    font-weight: bold;
}

span#popup_datatype {
    position: absolute;
    padding: 3px 5px 3px 5px;
    background-color: #ffffff;
    border: solid 1px #888888;
    color: #555555;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    z-index: 99;
}

span#popup_eb_flag {
    position: absolute;
    padding: 3px 5px 3px 5px;
    background-color: #ffffff;
    border: solid 1px #888888;
    color: #555555;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    display: none;
    z-index: 100;
}

span.string_lang {
    color: #888888;
    font-size: 14px;
}

ul.cm-ss_subres_button {
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0px;
    padding: 0px;
}

li.cm-ss_subres_li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    cursor: default;
    border: solid 1px #888888;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
li.cm-ss_subres_li_valid {
    color: #888888;
    background-color: #ffffff;
}

li.cm-ss_subres_li_invalid {
    color: #ffffff;
    background-color: #c0c0c0;
}

select.result_download_button{
    position: relative;
    top: -10px;
    right: 10px;
    float: right;
}

.CodeMirror-scroll::-webkit-scrollbar {
    display:none;
}

div.control_tabs {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.clipboard_ctrl {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#popupCopy {
    display: none;
    margin-left:10px;
    font-size: 14px;
    color: rgba(127, 127, 127, 1);
}

#copyIcon {
    font-size:18px;
    display:inline;
    cursor:pointer;
}

input#copyButton {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 150px;
    margin-right: 4px;
    text-align: center;
    color: rgba(127, 127, 127, 1);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(127, 127, 127, 1);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: default;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#fileIcon {
    font-size:18px;
    display:none;
    margin-left:100px;
}

.bottom_line {
    border-bottom: solid #cccccc 2px;
}

.cm-matchhighlight {
    background-color: #d6f4ff;
}

div.debug_popup {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e6e6e6;
    color: #666666;
    margin: 0px;
    padding: 5px 0px 0px 10px;
    border: solid 1px #888888;
    z-index:2;
}

ul.debug_command {
    margin: 0px;
    padding: 0px;
}

li.debug_command {
    position: relative;
    list-style: none;
    padding: 2px 5px 2px 5px;
    cursor:pointer;
}

li.debug_command_hover {
    background-color: #888888;
    color: #ffffff;
}
